{% extends "base.html" %}

{% block content %}
<h1>Devices</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add New Device
            <a href="adddev">
                <button type="button" class="btn btn-default" aria-label="Add">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </button></h3>

    </div>
</div>
<div>
    {% for k,i in data["dicDev"].items() %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{k}}
                    <a href="adddev/{{k}}">
                <button type="button" class="btn btn-default" aria-label="Edit">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button></a>
                <button type="button" class="btn btn-default" aria-label="Delete">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </h3>
        </div>
    </div>
    <div class="panel-body">

        <table class="table" style="max-width:300px;" border="1">
            <tbody>
                <tr>
                    <td scope="row">Description: </th>
                    <td>{{i["desc"]}}</th>

                </tr>


                <tr>
                    <td scope="row">IP address: </th>
                    <td>Mark</td>

                </tr>
                <tr>
                    <td scope="row">Refresh Time: </th>
                    <td>Jacob</td>

                </tr>
                <tr>
                    <td scope="row">Is Receiver: </th>
                    <td>Larry</td>

                </tr>
                <tr>
                    <td scope="row">Value: </th>
                    <td>Larry</td>

                </tr>
            </tbody>
        </table>
    </div>


    {% endfor %}
</div>
{% endblock %}