{% extends "base.html" %}

{% block content %}
    <h1>Devices</h1>
    <div>
    {% for k,i in data["dicDev"].items() %}
    
        <b>{{k}}</b>
        <table style="width:100%">

            <tr>
                <td>Description: </td>
                <td>{{i["desc"]}}</td>
            </tr>
            <tr>
                <td>typeName: </td>
                <td>{{i["typeName"]}}</td>
            </tr>
            <tr>
                <td>refreshTime: </td>
                <td>{{i["refreshTime"]}}</td>
            </tr>
            <tr>
                <td>isRec: </td>
                <td>{{i["isRec"]}}</td>
            </tr>
            <tr>
                <td>Value: </td>
                <td>{{i["value"]}}</td>
            </tr>
        </table>

    {% endfor %}
    </div>
{% endblock %}